In [1]:
import pandas as pd

In [2]:
raw_data = pd.read_excel('data/923214104372.xls')

In [3]:
raw_data.head()

,Sr #,Unnamed: 1,Call Type,Unnamed: 3,A-Party,Unnamed: 5,B-Party,Unnamed: 7,Date & Time,Unnamed: 9,...,Unnamed: 16,Site,Unnamed: 18,Longitude and Latitude,Unnamed: 20,Node ID,Unnamed: 22,IP,Unnamed: 24,Port
0,1,NaN,Outgoing,NaN,923214104372,NaN,03028480542,NaN,2023-09-01 09:54:14,NaN,...,NaN,USHD8873__S_Imamaia colony GT Road Shadhra war...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,Outgoing,NaN,923214104372,NaN,03028480542,NaN,2023-09-01 09:56:52,NaN,...,NaN,USHD8873__S_Imamaia colony GT Road Shadhra war...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,Outgoing SMS,NaN,923214104372,NaN,5299,NaN,2023-09-01 09:57:09,NaN,...,NaN,USHD8873__S_Imamaia colony GT Road Shadhra war...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,Incoming SMS,NaN,923214104372,NaN,35323939,NaN,2023-09-01 09:57:21,NaN,...,NaN,USHD8873__S_Imamaia colony GT Road Shadhra war...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,Incoming SMS,NaN,923214104372,NaN,923049585110,NaN,2023-09-01 10:11:24,NaN,...,NaN,USHD8873__S_Imamaia colony GT Road Shadhra war...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
columns_to_remove = raw_data.filter(regex=r'^Unnamed').columns
columns_to_remove

Index(['Unnamed: 1', 'Unnamed: 3', 'Unnamed: 5', 'Unnamed: 7', 'Unnamed: 9',
       'Unnamed: 12', 'Unnamed: 14', 'Unnamed: 16', 'Unnamed: 18',
       'Unnamed: 20', 'Unnamed: 22', 'Unnamed: 24'],
      dtype='object')

In [5]:
data = raw_data.drop(labels=columns_to_remove, axis=1)
data = data.drop(labels="Sr #", axis=1)
data.columns

Index(['Call Type', 'A-Party', 'B-Party', 'Date & Time', 'Duration', 'Cell ID',
       'IMEI', 'IMSI', 'Site', 'Longitude and Latitude', 'Node ID', 'IP',
       'Port'],
      dtype='object')

In [6]:
data.columns

Index(['Call Type', 'A-Party', 'B-Party', 'Date & Time', 'Duration', 'Cell ID',
       'IMEI', 'IMSI', 'Site', 'Longitude and Latitude', 'Node ID', 'IP',
       'Port'],
      dtype='object')

In [11]:
print("The length of the dataframe is {}".format(len(data)))

The length of the dataframe is 1587

In [7]:
for column in data.columns:
    print('{}: {}'.format(column, len(data[column].unique())))

Call Type: 4
A-Party: 1
B-Party: 166
Date & Time: 1587
Duration: 311
Cell ID: 94
IMEI: 2
IMSI: 1
Site: 79
Longitude and Latitude: 1
Node ID: 1
IP: 1
Port: 1

In [8]:
data.count()

Call Type                 1587
A-Party                   1587
B-Party                   1587
Date & Time               1587
Duration                  1587
Cell ID                   1587
IMEI                      1587
IMSI                      1587
Site                      1587
Longitude and Latitude       0
Node ID                      0
IP                           0
Port                         0
dtype: int64

In [13]:
threshold = len(data) * 0.25
# Drop columns that do not have at least the threshold number of non-NaN values
df_cleaned = data.dropna(axis=1, thresh=threshold)
# Display the cleaned DataFrame
df_cleaned

,Call Type,A-Party,B-Party,Date & Time,Duration,Cell ID,IMEI,IMSI,Site
0,Outgoing,923214104372,03028480542,2023-09-01 09:54:14,134,6E40FEB6,354121934453580,410010127966065,USHD8873__S_Imamaia colony GT Road Shadhra war...
1,Outgoing,923214104372,03028480542,2023-09-01 09:56:52,18,6E40FEB6,354121934453580,410010127966065,USHD8873__S_Imamaia colony GT Road Shadhra war...
2,Outgoing SMS,923214104372,5299,2023-09-01 09:57:09,0,6E40FEB6,354121934453580,410010127966065,USHD8873__S_Imamaia colony GT Road Shadhra war...
3,Incoming SMS,923214104372,35323939,2023-09-01 09:57:21,0,6E40FEB6,354121934453580,410010127966065,USHD8873__S_Imamaia colony GT Road Shadhra war...
4,Incoming SMS,923214104372,923049585110,2023-09-01 10:11:24,0,6E40FEB6,354121934453580,410010127966065,USHD8873__S_Imamaia colony GT Road Shadhra war...
...,...,...,...,...,...,...,...,...,...
1582,Incoming SMS,923214104372,53455454494E47,2023-11-18 11:45:13,0,3F300000,355066960060000,410010127966065,?
1583,Incoming SMS,923214104372,53455454494E47,2023-11-18 11:45:31,0,3F300000,355066960060000,410010127966065,?
1584,Incoming SMS,923214104372,pple,2023-11-18 11:46:01,0,80a3068,355066960060000,410010127966065,?
1585,Outgoing SMS,923214104372,005126,2023-11-18 11:46:35,0,80a3068,355066960060000,410010127966065,?
1586,Incoming SMS,923214104372,pple,2023-11-18 12:01:05,0,80a3068,355066960060000,410010127966065,?

In [14]:
print("Number of columns dropped {}".format(len(data.columns) - len(df_cleaned.columns)))

Number of columns dropped 4

In [15]:
df_cleaned['Call Type'].unique()

array(['Outgoing', 'Outgoing SMS', 'Incoming SMS', 'InComing'],
      dtype=object)

In [17]:
df_cleaned.head()

,Call Type,A-Party,B-Party,Date & Time,Duration,Cell ID,IMEI,IMSI,Site
0,Outgoing,923214104372,03028480542,2023-09-01 09:54:14,134,6E40FEB6,354121934453580,410010127966065,USHD8873__S_Imamaia colony GT Road Shadhra war...
1,Outgoing,923214104372,03028480542,2023-09-01 09:56:52,18,6E40FEB6,354121934453580,410010127966065,USHD8873__S_Imamaia colony GT Road Shadhra war...
2,Outgoing SMS,923214104372,5299,2023-09-01 09:57:09,0,6E40FEB6,354121934453580,410010127966065,USHD8873__S_Imamaia colony GT Road Shadhra war...
3,Incoming SMS,923214104372,35323939,2023-09-01 09:57:21,0,6E40FEB6,354121934453580,410010127966065,USHD8873__S_Imamaia colony GT Road Shadhra war...
4,Incoming SMS,923214104372,923049585110,2023-09-01 10:11:24,0,6E40FEB6,354121934453580,410010127966065,USHD8873__S_Imamaia colony GT Road Shadhra war...

In [16]:
df_cleaned[((df_cleaned['Call Type'] == 'InComing') | (df_cleaned['Call Type'] == 'Outgoing')) & (df_cleaned['Duration'] == 0)]

Empty DataFrame
Columns: [Call Type, A-Party, B-Party, Date & Time, Duration, Cell ID, IMEI, IMSI, Site]
Index: []

In [18]:
call_data = df_cleaned[((df_cleaned['Call Type'] == 'InComing') | (df_cleaned['Call Type'] == 'Outgoing'))]

In [19]:
call_data

,Call Type,A-Party,B-Party,Date & Time,Duration,Cell ID,IMEI,IMSI,Site
0,Outgoing,923214104372,03028480542,2023-09-01 09:54:14,134,6E40FEB6,354121934453580,410010127966065,USHD8873__S_Imamaia colony GT Road Shadhra war...
1,Outgoing,923214104372,03028480542,2023-09-01 09:56:52,18,6E40FEB6,354121934453580,410010127966065,USHD8873__S_Imamaia colony GT Road Shadhra war...
6,Outgoing,923214104372,03049585110,2023-09-01 10:11:34,59,6E40FEB6,354121934453580,410010127966065,USHD8873__S_Imamaia colony GT Road Shadhra war...
7,InComing,923214104372,03214827411,2023-09-01 10:25:23,24,6E40FEB6,354121934453580,410010127966065,USHD8873__S_Imamaia colony GT Road Shadhra war...
8,Outgoing,923214104372,03214453575,2023-09-01 10:33:02,1153,6E40FEB6,354121934453580,410010127966065,USHD8873__S_Imamaia colony GT Road Shadhra war...
...,...,...,...,...,...,...,...,...,...
1572,InComing,923214104372,03105383978,2023-11-17 16:54:35,24,3F30596B,354121934453580,410010127966065,"ULHR9153__S_GulEDaman, OHWT at Accounts Group ..."
1573,Outgoing,923214104372,03002520080,2023-11-17 17:55:08,1122,3F30596B,354121934453580,410010127966065,"ULHR9153__S_GulEDaman, OHWT at Accounts Group ..."
1574,Outgoing,923214104372,03258069317,2023-11-17 21:00:42,279,3F30596B,354121934453580,410010127966065,"ULHR9153__S_GulEDaman, OHWT at Accounts Group ..."
1577,Outgoing,923214104372,03002520080,2023-11-18 08:27:21,29,3F30596B,354121934453580,410010127966065,"ULHR9153__S_GulEDaman, OHWT at Accounts Group ..."
1578,Outgoing,923214104372,03002520080,2023-11-18 08:35:13,103,3F30596B,354121934453580,410010127966065,"ULHR9153__S_GulEDaman, OHWT at Accounts Group ..."

In [20]:
assert len(call_data['Call Type'].unique()) == 2

In [21]:
call_data['Call Type'].count()

799

In [22]:
# Merge DataFrames with an indicator
df_merged = df_cleaned.merge(call_data, how='outer', indicator=True)
sms_data = df_merged[df_merged['_merge'] == 'left_only'].drop(columns=['_merge'])

In [23]:
sms_data

,Call Type,A-Party,B-Party,Date & Time,Duration,Cell ID,IMEI,IMSI,Site
2,Outgoing SMS,923214104372,5299,2023-09-01 09:57:09,0,6E40FEB6,354121934453580,410010127966065,USHD8873__S_Imamaia colony GT Road Shadhra war...
3,Incoming SMS,923214104372,35323939,2023-09-01 09:57:21,0,6E40FEB6,354121934453580,410010127966065,USHD8873__S_Imamaia colony GT Road Shadhra war...
4,Incoming SMS,923214104372,923049585110,2023-09-01 10:11:24,0,6E40FEB6,354121934453580,410010127966065,USHD8873__S_Imamaia colony GT Road Shadhra war...
5,Incoming SMS,923214104372,923049585110,2023-09-01 10:11:25,0,6E40FEB6,354121934453580,410010127966065,USHD8873__S_Imamaia colony GT Road Shadhra war...
9,Incoming SMS,923214104372,4A617A7A,2023-09-01 10:43:04,0,6E40FEB6,354121934453580,410010127966065,USHD8873__S_Imamaia colony GT Road Shadhra war...
...,...,...,...,...,...,...,...,...,...
1582,Incoming SMS,923214104372,53455454494E47,2023-11-18 11:45:13,0,3F300000,355066960060000,410010127966065,?
1583,Incoming SMS,923214104372,53455454494E47,2023-11-18 11:45:31,0,3F300000,355066960060000,410010127966065,?
1584,Incoming SMS,923214104372,pple,2023-11-18 11:46:01,0,80a3068,355066960060000,410010127966065,?
1585,Outgoing SMS,923214104372,005126,2023-11-18 11:46:35,0,80a3068,355066960060000,410010127966065,?
1586,Incoming SMS,923214104372,pple,2023-11-18 12:01:05,0,80a3068,355066960060000,410010127966065,?

In [24]:
assert len(sms_data['Call Type'].unique()) == 2
assert len(sms_data) + len(call_data) == len(df_cleaned)

In [25]:
sms_data['B-Party'].unique()

array(['5299', '35323939', '923049585110', '4A617A7A', '9225', '9080',
       '03024631717', '03138463280', '4554484E4943', '03138471965',
       '03462861665', '00447786205094', '4170706C65', '923258069317',
       '4A617A7A436173', '03434302772', '496E4472697665', '03215222251',
       '57656172204547', '9397', '03258069317', '45474', '03008502826',
       '526', '5452415820504B', '03457678809', '9890', '8225',
       '03354349475', '923037579027', '8558', '4A415A5A', '81223',
       '41494B20415445', '43726', '4C656', '923091797095', '4341524',
       '923224365431', '03028133982', '03043397146', '8980',
       '03426624789', '03454117873', '9729', '4A617A7A20476', '436',
       '4661737465782E', '4A617A7A416476', '6055', '33313131',
       '4A415A5A204361', '4A415A5A203447', '03456983575', '6C44454153',
       '03137856757', '9228', '41636547616C6C', '03034670419',
       '03007312318', '03244397186', '4A415A5A204', '99962', '4',
       '03214729631', '6054', '923086639755', '4E444D41',
       '53455454494E47', 'pple', '005126'], dtype=object)

In [26]:
sms_data.to_excel('data/sms_data_923214104372.xlsx', index=False)
call_data.to_excel('data/call_data_923214104372.xlsx', index=False)

In [27]:
def format_phone_number(number):
    # Remove any leading '+' if present
    number = number.lstrip('+')
    
    # Handle international numbers that start with '00'
    if number.startswith('00'):
        return number
    # Check if it already starts with the Pakistani country code '92' and has the correct length
    elif number.startswith('92') and len(number) == 12:
        return number
    # Handle local numbers starting with '03' and convert them to the correct format
    elif len(number) == 10 and number.startswith('03'):
        return '92' + number[1:]
    # Handle local numbers starting with '3' and convert them to the correct format
    elif len(number) == 11 and number.startswith('3'):
        return '92' + number
    # For other numbers, we will check if they seem like valid Pakistani numbers
    elif number.startswith('0') and len(number) == 11:
        return '92' + number[1:]
    elif number.startswith('92') and len(number) > 12:
        return '92' + number[-10:]
    else:
        # Keep the number as it is if it does not fit any of the above criteria
        return number

In [28]:
call_data['B-Party'] = call_data['B-Party'].apply(format_phone_number)

/var/folders/y2/f6l0j67j7cj6gm4wh3010c4w0000gn/T/ipykernel_30177/3790979675.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  call_data['B-Party'] = call_data['B-Party'].apply(format_phone_number)

In [29]:
call_data.to_excel('data/call_data_923214104372.xlsx', index=False)

In [30]:
call_data

,Call Type,A-Party,B-Party,Date & Time,Duration,Cell ID,IMEI,IMSI,Site
0,Outgoing,923214104372,923028480542,2023-09-01 09:54:14,134,6E40FEB6,354121934453580,410010127966065,USHD8873__S_Imamaia colony GT Road Shadhra war...
1,Outgoing,923214104372,923028480542,2023-09-01 09:56:52,18,6E40FEB6,354121934453580,410010127966065,USHD8873__S_Imamaia colony GT Road Shadhra war...
6,Outgoing,923214104372,923049585110,2023-09-01 10:11:34,59,6E40FEB6,354121934453580,410010127966065,USHD8873__S_Imamaia colony GT Road Shadhra war...
7,InComing,923214104372,923214827411,2023-09-01 10:25:23,24,6E40FEB6,354121934453580,410010127966065,USHD8873__S_Imamaia colony GT Road Shadhra war...
8,Outgoing,923214104372,923214453575,2023-09-01 10:33:02,1153,6E40FEB6,354121934453580,410010127966065,USHD8873__S_Imamaia colony GT Road Shadhra war...
...,...,...,...,...,...,...,...,...,...
1572,InComing,923214104372,923105383978,2023-11-17 16:54:35,24,3F30596B,354121934453580,410010127966065,"ULHR9153__S_GulEDaman, OHWT at Accounts Group ..."
1573,Outgoing,923214104372,923002520080,2023-11-17 17:55:08,1122,3F30596B,354121934453580,410010127966065,"ULHR9153__S_GulEDaman, OHWT at Accounts Group ..."
1574,Outgoing,923214104372,923258069317,2023-11-17 21:00:42,279,3F30596B,354121934453580,410010127966065,"ULHR9153__S_GulEDaman, OHWT at Accounts Group ..."
1577,Outgoing,923214104372,923002520080,2023-11-18 08:27:21,29,3F30596B,354121934453580,410010127966065,"ULHR9153__S_GulEDaman, OHWT at Accounts Group ..."
1578,Outgoing,923214104372,923002520080,2023-11-18 08:35:13,103,3F30596B,354121934453580,410010127966065,"ULHR9153__S_GulEDaman, OHWT at Accounts Group ..."

In [31]:
df_cleaned[df_cleaned.Site == '?'].Site.apply

<bound method Series.apply of 1581    ?
1582    ?
1583    ?
1584    ?
1585    ?
1586    ?
Name: Site, dtype: object>

In [32]:
df_cleaned.Site[0]

'USHD8873__S_Imamaia colony GT Road Shadhra warid_MDLH1121, Lane #1anexi imamaia colony GT Road Shadhra, Shahdara (3G)|31.64956000|74.28313000'

In [33]:
def parse_site_info(info_string):
    # Handle case where the string is '?'
    if info_string == '?':
        return {
            'Address': '',
            'Latitude': '',
            'Longitude': '',
            'Connection code': '',
            'Internet': ''
        }
    
    # Split the string by the pipe '|' delimiter
    parts = info_string.split('|')
    
    # Extract latitude and longitude if available
    latitude = parts[1] if len(parts) > 1 else ''
    longitude = parts[2] if len(parts) > 2 else ''
    
    # Further split the first part to get connection code and address with internet info
    first_part = parts[0].split(', ')
    
    # Extract the connection code
    connection_code = first_part[0].strip() if len(first_part) > 0 else ''
    
    # Extract the internet type and address
    address_internet = first_part[1].split(' (') if len(first_part) > 1 else [first_part[0], '']
    address = address_internet[0].strip() if len(address_internet) > 0 else ''
    internet = address_internet[1].replace(')', '').strip() if len(address_internet) > 1 else ''
    
    # Create a dictionary to hold the parsed information
    parsed_info = {
        'Address': address,
        'Latitude': latitude,
        'Longitude': longitude,
        'Connection code': connection_code,
        'Internet': internet
    }
    
    return parsed_info

In [34]:
parse_site_info(df_cleaned.Site[0])

{'Address': 'Lane #1anexi imamaia colony GT Road Shadhra',
 'Latitude': '31.64956000',
 'Longitude': '74.28313000',
 'Connection code': 'USHD8873__S_Imamaia colony GT Road Shadhra warid_MDLH1121',
 'Internet': ''}

In [35]:
# Apply the parsing function to each row and expand the resulting dictionaries into columns
parsed_df = df_cleaned.Site.apply(parse_site_info).apply(pd.Series)

# Combine the original DataFrame with the new columns
df_site_data = pd.concat([df_cleaned, parsed_df], axis=1)

In [36]:
df_site_data.drop(labels='Site', axis=1, inplace=True)
df_site_data.columns

Index(['Call Type', 'A-Party', 'B-Party', 'Date & Time', 'Duration', 'Cell ID',
       'IMEI', 'IMSI', 'Address', 'Latitude', 'Longitude', 'Connection code',
       'Internet'],
      dtype='object')

In [39]:
df_site_data.to_excel('data/site_data_transformed_923214104372.xlsx', index=False)

In [38]:
df_site_data.describe()

            A-Party     Duration          IMEI          IMSI
count  1.587000e+03  1587.000000  1.587000e+03  1.587000e+03
mean   9.232141e+11    93.730939  3.541255e+14  4.100101e+14
std    0.000000e+00   248.165738  5.801564e+10  0.000000e+00
min    9.232141e+11     0.000000  3.541219e+14  4.100101e+14
25%    9.232141e+11     0.000000  3.541219e+14  4.100101e+14
50%    9.232141e+11     1.000000  3.541219e+14  4.100101e+14
75%    9.232141e+11    52.000000  3.541219e+14  4.100101e+14
max    9.232141e+11  1800.000000  3.550670e+14  4.100101e+14

In [171]:
df_cleaned.describe()

,A-Party,Date & Time,Duration,IMEI,IMSI
count,4.164000e+03,4164,4164.000000,4.164000e+03,4.164000e+03
mean,9.231342e+11,2024-01-07 10:18:44.261047040,65.737752,3.575188e+14,4.100190e+14
min,9.231342e+11,2023-12-01 09:28:09,0.000000,3.575188e+14,4.100190e+14
25%,9.231342e+11,2023-12-14 16:53:38.500000,0.000000,3.575188e+14,4.100190e+14
50%,9.231342e+11,2024-01-07 14:20:21.500000,28.000000,3.575188e+14,4.100190e+14
75%,9.231342e+11,2024-01-27 20:29:02.750000128,65.000000,3.575188e+14,4.100190e+14
max,9.231342e+11,2024-02-20 23:45:33,1800.000000,3.575188e+14,4.100190e+14
std,0.000000e+00,NaN,145.426368,6.250751e-02,0.000000e+00

In [176]:
df_cleaned[((df_cleaned['Call Type'] == 'InComing') | (df_cleaned['Call Type'] == 'Outgoing')) & (df_cleaned['Duration'] == 0)]

,Call Type,A-Party,B-Party,Date & Time,Duration,Cell ID,IMEI,IMSI,Site
9,Outgoing,923134225557,923444655305,2023-12-01 11:10:27,0,1E5142C,357518816304740,410018958165565,?
165,Outgoing,923134225557,923467432582,2023-12-02 14:12:54,0,1E5142C,357518816304740,410018958165565,?
268,Outgoing,923134225557,923467432582,2023-12-04 10:13:24,0,1FAD002,357518816304740,410018958165565,"LTE_LHR9744__S_MainRoadSabzazar_MDLH1312, Moha..."
569,InComing,923134225557,923154983399,2023-12-07 12:49:43,0,1D6DF0B,357518816304740,410018958165565,?
900,Outgoing,923134225557,923136601188,2023-12-13 11:05:52,0,1EA4C1F,357518816304740,410018958165565,?
1072,Outgoing,923134225557,923454306241,2023-12-15 11:13:05,0,1D57D0C,357518816304740,410018958165565,?
1146,Outgoing,923134225557,923467432582,2023-12-16 16:08:28,0,1EDC701,357518816304740,410018958165565,"LTE_LHR6407__S_TalibGanj, Talib Ganj Lahore, P..."
2183,Outgoing,923134225557,923467432582,2024-01-09 13:41:51,0,1E51433,357518816304740,410018958165565,"LTE_LHR4180__S_Thokar_MDLH1098, Shah town Riaw..."
2309,Outgoing,923134225557,923444655305,2024-01-11 20:49:59,0,1D5BE04,357518816304740,410018958165565,"LTE_LHR0254__P_AliContinental, 1-Mozang Road, ..."
2475,InComing,923134225557,923044831279,2024-01-15 10:19:28,0,1E51433,357518816304740,410018958165565,"LTE_LHR4180__S_Thokar_MDLH1098, Shah town Riaw..."
2877,Outgoing,923134225557,923454706526,2024-01-22 10:16:46,0,1EDC701,357518816304740,410018958165565,"LTE_LHR6407__S_TalibGanj, Talib Ganj Lahore, P..."
2941,Outgoing,923134225557,923454706526,2024-01-23 13:49:50,0,1E88603,357518816304740,410018958165565,"LTE_LHR5062__S_Lahore_Add_Capacity_7_MDLH2886,..."
3703,InComing,923134225557,923008417096,2024-02-11 14:42:59,0,1E51433,357518816304740,410018958165565,"LTE_LHR4180__S_Thokar_MDLH1098, Shah town Riaw..."

In [177]:
df_site_data[((df_site_data['Call Type'] == 'InComing') | (df_site_data['Call Type'] == 'Outgoing')) & (df_site_data['Duration'] == 0)]

,Call Type,A-Party,B-Party,Date & Time,Duration,Cell ID,IMEI,IMSI,Address,Latitude,Longitude,Connection code,Internet
9,Outgoing,923134225557,923444655305,2023-12-01 11:10:27,0,1E5142C,357518816304740,410018958165565,,,,,
165,Outgoing,923134225557,923467432582,2023-12-02 14:12:54,0,1E5142C,357518816304740,410018958165565,,,,,
268,Outgoing,923134225557,923467432582,2023-12-04 10:13:24,0,1FAD002,357518816304740,410018958165565,Mohalla Said Pur Main Bazar Said Pur Shah Fare...,31.52266000,74.27780000,LTE_LHR9744__S_MainRoadSabzazar_MDLH1312,4G
569,InComing,923134225557,923154983399,2023-12-07 12:49:43,0,1D6DF0B,357518816304740,410018958165565,,,,,
900,Outgoing,923134225557,923136601188,2023-12-13 11:05:52,0,1EA4C1F,357518816304740,410018958165565,,,,,
1072,Outgoing,923134225557,923454306241,2023-12-15 11:13:05,0,1D57D0C,357518816304740,410018958165565,,,,,
1146,Outgoing,923134225557,923467432582,2023-12-16 16:08:28,0,1EDC701,357518816304740,410018958165565,Talib Ganj Lahore,31.41674,74.22245,LTE_LHR6407__S_TalibGanj,
2183,Outgoing,923134225557,923467432582,2024-01-09 13:41:51,0,1E51433,357518816304740,410018958165565,Shah town Riawing Road tohker Lahore,31.46881000,74.24122000,LTE_LHR4180__S_Thokar_MDLH1098,4G
2309,Outgoing,923134225557,923444655305,2024-01-11 20:49:59,0,1D5BE04,357518816304740,410018958165565,1-Mozang Road,31.5624,74.3118,LTE_LHR0254__P_AliContinental,
2475,InComing,923134225557,923044831279,2024-01-15 10:19:28,0,1E51433,357518816304740,410018958165565,Shah town Riawing Road tohker Lahore,31.46881000,74.24122000,LTE_LHR4180__S_Thokar_MDLH1098,4G
2877,Outgoing,923134225557,923454706526,2024-01-22 10:16:46,0,1EDC701,357518816304740,410018958165565,Talib Ganj Lahore,31.41674,74.22245,LTE_LHR6407__S_TalibGanj,
2941,Outgoing,923134225557,923454706526,2024-01-23 13:49:50,0,1E88603,357518816304740,410018958165565,Pakki Thathi Allama Iqbal Road Lahore,31.53680000,74.29135000,LTE_LHR5062__S_Lahore_Add_Capacity_7_MDLH2886,4G
3703,InComing,923134225557,923008417096,2024-02-11 14:42:59,0,1E51433,357518816304740,410018958165565,Shah town Riawing Road tohker Lahore,31.46881000,74.24122000,LTE_LHR4180__S_Thokar_MDLH1098,4G

In [178]:
df_site_data.in

RangeIndex(start=0, stop=4164, step=1)

In [180]:
df_site_data[((df_site_data['Call Type'] == 'InComing') | (df_site_data['Call Type'] == 'Outgoing')) & (df_site_data['Duration'] == 0)].index.equals(df_cleaned[((df_cleaned['Call Type'] == 'InComing') | (df_cleaned['Call Type'] == 'Outgoing')) & (df_cleaned['Duration'] == 0)].index)

True